<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Imagens</title>
    <link rel="stylesheet" href="{% static 'trade/galeria_produtos.css' %}">
<body>
<div id="header"><h1>Galeria de imagens</h1></div>
<center><a href="{% url 'home' %}" class="link">Voltar</a></center>
<div class="gallery">
    <div class="gallery-item">
        <img src="https://acdn.mitiendanube.com/stores/001/779/334/products/arranhador-gatos-511-1c69d0026dbaf8c50f16294280485862-1024-1024.jpg" alt="Imagem 1">
        <p>Arranhador<br><br>R$130.00</p>
    </div>
    <div class="gallery-item">
        <img src="https://images.tcdn.com.br/img/img_prod/1037527/gaiola_hamster_3_andares_colorida_com_casa_tubos_e_rodinha_1467_1_d2f61eaeed42aa77ace9594458354fda.jpg" alt=" Iluminaria por indução" >
        <p>Gaiola de Hamster<br><br>R$150.00</p>
    </div>
    <div class="gallery-item">
        <img src="https://loja.quili.com.br/image/cache/data/produtos/aquarios/q-24-blackbox/quili-q24-aquario-lado-926x926.jpg" alt="Imagem 3">
        <p>Aquário Completo 24L<br><br>R$940.00</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.petlove.com.br/images/products/258569/product/RAOWHI_4.JPG?1658246240" alt="Imagem 4">
        <p>Whiskas Cat 10KG - Sabor Carne<br><br>R$180.00</p>
    </div>
    <div class="gallery-item">
        <img src="https://images.petz.com.br/fotos/1658430156608.jpg" alt="Imagem 5">
        <p>Golden 20KG - Frango e Arroz<br><br>R$165.00</p>
    </div>
    <div class="gallery-item">
        <img src="https://www.terradospassaros.com/loja/images/grd_615_gg.jpg" alt="Imagem 6">
        <p>Sementes de Painço 25Kg<br><br>R$230.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://images.tcdn.com.br/img/img_prod/928979/gaiola_amasavi_n7_sc_1901_1_7ddb857ed889470fb1dc8ba0a35b0bdb.png" alt="Imagem 6">
        <p>Gaiola de Pássaro<br><br>R$260.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://down-br.img.susercontent.com/file/32e7b64738c4936f67cade4301210821" alt="Imagem 6">
        <p>Kit 10 Brinquedos para cachorro<br><br>R$80.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://down-br.img.susercontent.com/file/5dccfc7737928c31039c88109669bbd0" alt="Imagem 6">
        <p>Desembaraçador de pelos Pet Clean 500ml<br><br>R$15.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://www.petmaxx.ind.br/imagens/informacoes/produtos-pet-shop-01.webp" alt="Imagem 6">
        <p>Caminha para pet<br><br>R$80.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://www.furacaopet.com.br/imagens/informacoes/fornecedores-produtos-pet-shop-01.webp" alt="Imagem 6">
        <p>Caixa de Transporte<br><br>R$150.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://tudodebicho.vtexassets.com/arquivos/ids/156154/Tapete-Higienico-Para-Caes-Chalesco.jpg?v=638406541730670000" alt="Imagem 6">
        <p>Tapete Higiênico - 50 Unidades<br><br>R$40.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://cdn.awsli.com.br/600x1000/2604/2604686/produto/226674077/caixa-de-areia-para-gatos--1--33gbidyr77.jpg" alt="Imagem 6">
        <p>Kit Caixa de areia e potes de ração e água<br><br>R$100.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://images.tcdn.com.br/img/img_prod/588693/areia_para_gatos_gatozim_4kg_2531_1_36e8351f7b644344b70e7a2368b03d5b.jpeg" alt="Imagem 6">
        <p>Areia para caixa de areia Gatozim<br><br>R$30.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://http2.mlstatic.com/D_NQ_NP_797533-MLB51426821809_092022-O.webp" alt="Imagem 6">
        <p>Escova para cachorros e gatos<br><br>R$20.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://www.petelegante.com.br/media/catalog/product/cache/c7324ab12751d83f0d1eb575fc175080/c/o/coleira-royal-com-pingente-com-nome-e-telefone-8.jpg" alt="Imagem 6">
        <p>Coleira Personalizada<br><br>R$50.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://www.mundomiauauau.com.br/cdn/shop/products/Sa180f0c04e5548c2b7640cfb18599323R.jpg?v=1679575367" alt="Imagem 6">
        <p>Macacão Roupinha Pet<br><br>R$50.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://www.balance.com.br/assets/images/produtos/racoes-umidas/gatos/salmao-ao-molho-com-espinafre-adulto/gallery/571.jpg" alt="Imagem 6">
        <p>Salmão ao molho com Espinafre - 85g<br><br>R$2.50</p>
    </div>

    <div class="gallery-item">
        <img src="https://www.mundomiauauau.com.br/cdn/shop/files/Novosprodutos-2024-02-16T182240.288_1_1_9a6af7d8-7feb-42c2-85fa-906a627d6faf_800x.png?v=1708120786" alt="Imagem 6">
        <p>Bolsa para carregar pet<br><br>R$100.00</p>
    </div>

    <div class="gallery-item">
        <img src="https://down-br.img.susercontent.com/file/078f71aecbbf2607a17b0d8e391fce63" alt="Imagem 6">
        <p>Potes de ração metálico<br><br>R$25.00</p>
    </div>


'
</div>

</body>
</html>
