body{
    background-image: url("./images/fundo2.png");
    background-size: 1920px 980px;
    font-family: "Roboto Light";
}
table{
    width: 95%;
    align-self: center;
}
thead{
    background: #004aad;
    color: white;
}
tbody{
    background: white;
}

#tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

